<h3 [ngClass]="{ 'strike-out': !todo.active }">
  {{ todo.title }}
</h3>

<div>
  Todo is Active: {{ todo.active }}<br>
</div>

<div>
  <span *ngIf='todo.active' (click)='updateActive(false)'>Mark As Complete</span>
  <span *ngIf='!todo.active' (click)='updateActive(true)'>Mark As Incomplete</span>
  
  <h3>Add to group:</h3>
  <select [(ngModel)]="group" required (ngModelChange)="addToGroup()">
  	<option *ngFor="let group of groups | async" [ngValue]="group" >{{group.title}}</option>
  </select>
</div>
<div> 
  <button class="btn btn-danger" (click)='deleteTodo()'>Delete Todo</button>
</div>