<div *ngIf="group ">
  <div class="jumbotron">
    <div><button class="btn btn-primary" (click) = 'getSharedGroups()'>Show all shared groups to this user</button></div>
    <div *ngFor="let group of groups | async">
        {{group.title}}
      </div>
    </div>
     <h4>{{group.title}} details!</h4>
     <div *ngFor="let todo of todos | async">
          {{todo.title}}
     </div>
     <div>
          <button class="btn btn-success" (click)='getGroup()'>Show todos</button>
          <button class="btn btn-danger" (click)='deleteGroup()'>Delete Group</button>
     </div>
     <h3>Share to user:</h3>
     <select [(ngModel)]="user" required (ngModelChange)="addToUser(); addToGroup()">
        <option *ngFor="let user of users | async" [ngValue]="user" >{{user.email}} {{user.name}}</option>
     </select>
</div>
