<div *ngIf="group ">
     <h2>{{group.title}} details!</h2>
     <div *ngFor="let todo of todos | async">
          {{todo.title}}
     </div>
     <div>
          <div *ngFor="let group of groups | async">
            {{group.title}}
          
        </div>
        <button (click) = 'getSharedGroups()'>dsf</button>
          <button class="btn btn-primary" (click)='getGroup()'>Show todos</button>
          <button class="btn btn-primary" (click)='deleteGroup()'>Delete Group</button>
     </div>

     <select [(ngModel)]="user" required (ngModelChange)="addToUser(); addToGroup()">
        <option *ngFor="let user of users | async" [ngValue]="user" >Add to a user: {{user.email}}</option>
      </select>
</div>
