<h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>

<h1>
  Login
</h1>

<div *ngIf="!(authService.user | async)">
  <input type="text" [(ngModel)]="email" placeholder="email">
  <input type="password" [(ngModel)]="password" placeholder="password">

  <button (click)="signup()" class="btn btn-primary" [disabled]="!email || !password">
    Signup
  </button>

  <button (click)="login()" class="btn btn-primary" [disabled]="!email || !password">
    Login
  </button>
</div>

<button (click)="logout()" *ngIf="authService.user | async">
  Logout
</button>

<div>
  <button (click)="facebookLogin()" *ngIf="!(user | async)?.uid">
  Login with Facebook
</button>
  <br>
  <button (click)="googleLogin()" *ngIf="!(user | async)?.uid">
  Login with Google
</button>
  <br>
  <button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>
  <br><br>
</div>
<div *ngIf="(user | async)?.uid">
  <img src="{{(user | async)?.photoURL}}" style="width:30px;height:30px;">
  <br> Email: {{(user | async)?.email}}
  <br> Name: {{(user | async)?.displayName}}
</div>
