<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>ToDo App</title>
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="login">Login <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="jumbotron">
        <h1 class="display-3">ToDo App</h1>
        <p class="lead">Sign Up now in ToDo App</p>
        <p><a class="btn btn-lg btn-success" href="signup" role="button">Sign up</a></p>
      </div>

      <footer class="footer">
        <p>&copy; Perefctial 2017</p>
      </footer>

    </div>

  </body>
</html>
